.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.guns-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 45px;
    margin-top: 50px;
}
.cart-container{
    background-color: rgba(247, 224, 189, 0.3);
    margin-left: 60px;
    border-radius: 7px;
}
